:root{
    color: #ffffff;
}
*{
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    margin: 0; 
    background-color: #000000; 
    width: 100%;
}
/*HEADER*/
header {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000; /* Fondo negro */
    padding: 10px 0;
    width: 100vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    filter: invert(100%);
}
/*messages*/
.messages,.registration_messages{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 48px;
}
.registration_messages{
    bottom: 0;
}
.success,.error{
    display: block;
    padding: 10px;
    color: #f0f0f0;
    height: 28px;
    width: 100%;
}
.success{
    background-color: #419f1f;
}
.error{
    background-color: #cc2323;
}

/* CONTENT */
.content{
    width:100%;
    margin-bottom: 48px;
}

/*          HOME */
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* POST*/
.home .post, .post_detail .post{
    padding: 20px;
}
.home .post, .post_detail .post {
    margin-bottom: 20px;
    background-color: #111;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(188, 188, 188, 0.1);
    display: flex;
    flex-direction: column;
}

.post-header a{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
    font-weight: bold;
}
.post-image{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.post-image img {
    display: block;
    object-fit: scale-down;
}

.post-actions {
    padding: 10px;
    display: flex;
    align-items: center;
}

.likes {
    display: flex;
    align-items: center;
}

.likes button {
    background-color: transparent;
    border: none;
}
.likes img{
    width: 20px;
    height: 20px;
}
.likes .like img{
    filter: invert(1);
}

.likes-count {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}
.comment-link img {
    filter: invert(1);
    width: 25px;
    height: 25px;
}

.description {
    padding: 10px;
    line-height: 1.5;
}

.post_detail .return_button{
    position: absolute;
    top: 10vh;
    right: 10vw;
    background-color: #1c1c1e;
    border: #1c1c1e solid 1px;
    border-radius: 50%;
    padding: 10px;
}
.post_detail .return_button a{
    text-decoration: none;
    color: #878787;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 1px;
}
/* Comments*/
.comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #2b2b2b;
    border: 1px solid #1c1c1e;
    padding: 10px;
}
.comment .profile-picture{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.comment .comment-text{
    display: flex;
    flex-direction: column;
}
.comment .comment-text .comment-content{
    display: flex;
}

.comment .comment-text .comment-content b{
    font-weight: 900;
    margin-right: 6px;
}
.comment .comment-text .comment-content b a{
    text-decoration: none;
    color: #fff;
}
.comment .comment-text .comment-content p{
    margin: 0;
    color: #cecece;
}
.comment .profile-picture img{
    width: 30px;
    height: 30px;
}
.comment .comment-timesince{
    font-size: 12px;
    color: #6a6a6a;
    margin: 5px 0 0;
}
.comment .delete-comment{
    margin-left:auto;
}
.comment .delete-comment img{
    height: 1lh;
    opacity: .8;
    filter: invert(1);
}
/*add comment*/
.add-comment form{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #2b2b2b;
    border: 1px solid #1c1c1e;
}
.add-comment textarea{
    flex-grow: 8;
    height: 100%;
    resize: none;
}
.add-comment input{
    height: 100%;
    flex-grow: 1;
    background-color: #1f83cb;
    color: #fff;
    border: none;
}
/*      SEARCH */
.user_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search .search_form{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 42px;
}

.search .search_form input[type="text"] {
    background-color: #3b3535;
    color: #ababab;
    padding: 0 10px;
    border: 1px solid #616161;
    border-radius: 5px 0 0 5px;
    border-right: none;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(176, 176, 176, 0.1);
}
.search .search_form button{
    background-color: #3b3535;
    height: 42px;
    border: 1px solid #616161;
    overflow: hidden;
}
.search .search_form button img{
    object-fit: contain;
    width: 40px;
    height: 40px;
    filter: invert(1);
}
.search_history{
    display: flex;
    flex-direction: column;
}
.search_history button{
    background-color: transparent;
    color: #fff;
    text-align: left;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #616161;
}

.user{
    background-color: #2c2c2e;
    width: calc(100% - 20px);
    padding: 0 10px;
    display: flex;
    align-items: center;
    border: 1px solid #464646;
    font-size: 16px;
    color: inherit;
    padding: 5px;
}
.user .profile-picture img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 30px;
}
.user a{
    text-decoration: none;
    color: inherit;
}
.user .follow-button,.user .unfollow-button{
    margin-left: auto;
}

/*          PROFILE     */

.profile-header {
    padding: 20px;
    display: flex;
    align-items: left;
    margin-bottom: 20px;
    width: 100%;
    border-bottom:1px solid #2f2f2f;
}
.profile-header .user_options{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile-header .logout-btn{
    background-color: transparent;
    text-align: center;
    border: none;
    color: rgb(207, 30, 30);
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.profile-header .username-follow{
    display: flex;
}
.follow-button,.unfollow-button, .profile-header .edit_profile-btn{
    padding: 8px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
}
.follow-button{
    background-color: #1f83cb;
    color: #eee;
    border-color: #1f83cb;
    margin-left: 20px;
}
.unfollow-button{
    background-color: #343434;
    color: #878787;
    border-color: #878787;
    margin-left: 20px;
}
.profile-header .edit_profile-btn{
    background-color: #343434;
    color: #878787;
    border-color: #878787;
}
.profile .profile-picture img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 30px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h1 {
    margin: 0;
    font-size: 28px;
}

.profile-stats {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    margin-right: 10px;
}
.profile-stats a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.profile-bio {
    margin-top: 10px;
}

.profile-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.profile-posts .post {
    width: 100%; 
    aspect-ratio: 1; 
    overflow: hidden;
}

.profile-posts .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*    ---------   FORMS   ---------------        */

/*          LOGIN       */

/* instagram_login_dark.css */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #1c1c1e;
    border: 1px solid #333;
    padding: 40px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.logo img {
    width: 175px;
    margin-bottom: 20px;
    filter: invert(1);
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 3px;
    background: #2c2c2e;
    color: #fff;
    font-size: 14px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #8e8e93;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #3284c8;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #8e8e93;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #333;
}

.or {
    margin: 0 10px;
    color: #8e8e93;
    font-size: 12px;
    font-weight: bold;
}

.social-login .facebook-login {
    color: #587fa1;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.social-login .facebook-login .facebook-logo img{
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    font-size: 14px;
    color: #8e8e93;
}

.signup-link a {
    color: #3897f0;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/*          SIGNUP      */
.signup-form {
    background-color: #1e1e1e;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signup-form h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form .form-group {
    margin-bottom: 1em;
}

.signup-form input {
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 0.8em;
    margin-top: 0.5em;
    color: #ffffff;
}

.signup-form input::placeholder {
    color: #bbbbbb;
}

.signup-form button {
    background-color: #3897f0;
    border: none;
    border-radius: 5px;
    padding: 0.8em;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #287ac9;
}

.signup-form p {
    margin-top: 1em;
}

.signup-form a {
    color: #3897f0;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}


/*  EDIT PROFILE    */
.edit_profile h1, .update_post h1{
    color: #878787;
    display: block;
    text-align: center;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.update_form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
}

.update_form input,
.update_form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #2c2c2e;
    color: #ccc;
}
.update_form input:focus,
.update_form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.update_form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.update_form input[type="submit"]:hover {
    background-color: #0056b3;
}

.profile_picture {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.profile_picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profile_picture input[type="file"] {
    display: block;
    margin: 0 auto;
    border: none;
}

/*update post */
.update_post, .edit_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Delete Post */
.confirm-delete-post, .confirm-delete-user, .confirm-delete-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.delete_form {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}
.delete_form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #9b9b9b;
}
.delete_form input[type="submit"], .delete_profile_btn {
    background-color: #e43846;
    color: #b7b7b7;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.delete_form input[type="submit"]:hover, .delete_profile_btn {
    background-color: #d73a49;
}
.delete_form input[type="submit"]:focus, .delete_profile_btn {
    outline: none;
}
