{% extends "layout.html" %}

{% block content %}

<main class="home">
{% for post in posts  %}

<!-- HTML -->
<div class="post">
    <div class="post-header">
        <div class="profile-picture">
            <img src="{{ post.user.profile_picture.url }}" alt="{{ post.user.username }}">
        </div>
        <div class="username">
            {{ post.user.username }}
        </div>
    </div>
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="">
    </div>
    <div class="post-content">
        <div class="likes">
            <span class="heart-icon">&#x2665;</span>
            <span class="likes-count">{{ post.likes }}</span>
        </div>
        {% if post.description %}
        <div class="description">  
            {{ post.description }}
        </div>{% endif %}
    </div>
</div>

{% endfor %}
</main>
{% endblock content %}
