{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Fake Instagram{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/instagram_logo.png' %}" type="image/x-icon">
</head>
<body>
    <div class="content">{% block content %}{% endblock content %}</div>
    
    <div class="messages">
        {% for message in messages %}
            <p class={{message.tags}}>{{ message }}</p>
        {% endfor %}
        {% if form.errors %}
        {% for error in form.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div> 

    <header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/home_icon.png' %}" alt="Home">
                </a>
            </li>
            <li>
                <a href="{% url 'search' %}">
                    <img src="{% static 'images/search_icon.webp' %}" alt="Search">
                </a>
            </li>
            <li>
                <a href="{% url 'create_post' %}">
                    <img src="{% static 'images/new_post.png' %}" alt="">
                </a>
            </li>
            <li>
                <a class="profile" href="{% url 'user_detail' request.user.id %}">
                    <img src="{{ request.user.profile_picture.url }}" alt="Profile">
                </a>
            </li>
        </ul>
    </nav>
    </header>

    
</body>
</html>