{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Fake Instagram{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">{% block content %}{% endblock content %}</div>
    
    <div class="success_msg">
        {% for message in messages.success %}
            {{ message }}
        {% endfor %}
    </div>
    <div class="error_msg">
        {% for message in messages.error %}
            {{ message }}
        {% endfor %}
        {% if form.errors %}
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
        {% endif %}
    </div>
    <header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/home_icon.png' %}" alt="Home">
                </a>
            </li>
            <li>
                <a href="{% url 'search' %}">
                    <img src="{% static 'images/search_icon.webp' %}" alt="Search">
                </a>
            </li>
            <li>
                <a href="{% url 'create_post' %}">
                    +
                </a>
            </li>
            <li>
                <a href="{% url 'user_detail' request.user.id %}">
                    <img src="{% static 'images/profile_icon.webp' %}" alt="Profile">
                </a>
            </li>
        </ul>
    </nav>
    </header>

    
</body>
</html>