{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Fake Instagram{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">{% block content %}{% endblock content %}</div>
    
    <!-- HTML -->
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/home_icon.png' %}" alt="Home">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/search_icon.webp' %}" alt="Search">
                    Search
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/profile_icon.webp' %}" alt="Profile">
                    Profile
                </a>
            </li>
        </ul>
    </nav>
</header>

    
</body>
</html>