{% extends "layout.html" %}
{% load static %}

{% block content %}
<main class= "profile">
    <section class="profile-header">
        <div class="profile-picture">
            <img src="{{ user.profile_image.url }}" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <div class="profile-stats">
                <span><strong>{{ user.posts_count }}</strong> publicaciones</span>
                <span><strong>{{ user.followers_count }}</strong> seguidores</span>
                <span><strong>{{ user.following_count }}</strong> seguidos</span>
            </div>
            <div class="profile-bio">
                <p>{{ user.biography }}</p>
            </div>
        </div>
    </section>

    <section class="profile-posts">
        {% for post in posts %}
            <div class="post">
                <img src="{{ post.image.url }}" alt="Post Image">
            </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}
