{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="search">
    <form method="post" class="search_form">
        {% csrf_token %}
        <input type="text" name="key" placeholder="Search...">
        <button type="submit"><img src="{% static 'images/search_icon.webp' %}" alt=""></button>
    </form>
    <form method="post" class="search_history">
        {% csrf_token %}
        <h4> recent searches: </h4>
        {% for key in search_history %}
            <button type="submit" name="key" value={{key}}>{{key}}</button>
        {% endfor %}
    </form>
    {% for user in users %}
        <a class="user" href="{% url 'user_detail' user.id %}">
            <div class="profile-picture">
                <img src="{{user.profile_picture.url}}" alt="Profile picture">
            </div>
            <p>{{ user.username }}</p>
        </a>
    {%empty%}
    {% if not search_history %}
    <p>No users found.</p>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}