{% extends "layout.html" %}

{% block content %}
    <main class="user_list">
        <h1>{{list_name}}</h1>
        {% for user in users %}
        <div class="user">
            <a class="profile-picture" href="{% url 'user_detail' user.id %}">
                <img src="{{user.profile_picture.url}}" alt="Profile picture">
            </a>
            <a href="{% url 'user_detail' user.id %}">{{ user.username }}</a>
            {% if user != request.user %}
                    {% if not following %}
                    <a href="{% url 'follow' user.id %}" class="follow-button"> Follow </a>
                    {% else %}
                    <a href="{% url 'unfollow' user.id%}" class="unfollow-button"> Unfollow </a>
                    {% endif %}
            {% endif %}
        </div>
        {% empty %}
        <p> no {{list_name|lower}} yet </p>
        {% endfor %}
    </main>
{% endblock %}