{% extends "layout.html" %}

{% block content %}
    <main class="user_list">
        <h1>{{list_name}}</h1>
        {% for user in users %}
        <a class="user" href="{% url 'user_detail' user.id %}">
            <div class="profile-picture">
                <img src="{{user.profile_picture.url}}" alt="Profile picture">
            </div>
            <p>{{ user.username }}</p>
        </a>
        {% empty %}
        <p> no {{list_name|lower}} yet </p>
        {% endfor %}
    </main>
{% endblock %}