{% extends "layout.html" %}
{% load filters %}

{% block content %}
<main class="post_detail">
<div class="return_button">
    <a href="{% url 'user_detail' post.user.id %}"> X </a>
</div>
<div class="post_detailblock">
{% include "post.html" with post=post%}
<div class="comment-section">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment">
    <img src="{{comment.user.profile_picture.url}}" alt="{{comment.user.username}}'s profile picture">
    <p class="comment-content"><span>{{comment.user.username}}</span>  {{comment.text}}</p>
    <p class="comment-publication">{{comment.created_at|ago}} </p>
    </div>
    {% empty %}
    <p> No comments yet </p>
    {% endfor %}
</div>
</div>
</main>
{% endblock content %}