{% extends "layout.html" %}
{% load filters %}

{% block content %}
<main class="post_detail">
<div class="return_button">
    <a href="{% url 'user_detail' post.user.id %}"> X </a>
</div>
<div class="post_detailblock">
{% include "post.html" with post=post%}
<div class="comment-section">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment">
        <a href="{% url 'user_detail' comment.user.id %}" class="profile-picture">
            <img src="{{comment.user.profile_picture.url}}" alt="{{comment.user.username}}'s profile picture">
        </a>
        <div class="comment-text">
            <div class="comment-content">
                <b><a href="{% url 'user_detail' comment.user.id %}">{{comment.user.username}}</a></b>
                <p>{{comment.text}}</p>
            </div>
            <p class="comment-timesince">{{comment.created_at|timesince}}</p>
        </div>
    </div>
    {% empty %}
    <p> No comments yet </p>
    {% endfor %}
</div>
<div class="add-comment">
    <form method="POST" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        <textarea name="text" placeholder="Add a comment..." required=""></textarea>
        <input type="submit" value="Post">
    </form>
</div>
</div>
</main>
{% endblock content %}