{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Fake Instagram{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">{% block content %}{% endblock content %}</div>
    <div class="registration-messages">
        {% for message in messages %}
            <p class={{message.tags}}>{{ message }}</p>
        {% endfor %}
        {% for error in form.non_field_errors%}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>     
</body>
</html>