{% extends "registration/layout.html" %}
{% load static %}

{% block content %}
<div class="login-box">
    <div class="logo">
        <img src="{% static 'images/instagram_text_logo.png' %}" alt="Instagram">
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            {{ form.username }}
        </div>
        <div class="input-group">
            {{ form.password }}
        </div>
        <button type="submit" class="btn">Sign In</button>
    </form>
    <div class="divider">
        <div class="line"></div>
        <div class="or">Or</div>
        <div class="line"></div>
    </div>
    <div class="social-login">
        <a href="#" class="facebook-login">
            <div class="facebook-logo">
                <img src="{% static 'images/facebook_logo.webp' %}" alt="Facebook">
            </div>
            Sign In with Facebook
        </a>
    </div>
    <div class="signup-link">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</div>
{% endblock content %}