{% load static %}
<div class="post">
    <div class="post-header">
        <a href="{% url 'user_detail' post.user.id %}" class="user_link">
        <div class="profile-picture">
            <img src="{{ post.user.profile_picture.url }}" alt="{{ post.user.username }}">
        </div>
        <div class="username">
            {{ post.user.username }}
        </div>
        </a>
        {% if request.user == post.user %}
        <a href="{% url 'update_post' post.id %}" class="update_post_link">edit</a>
        <a href="{% url 'delete_post' post.id %}" class="delete_post_link">delete</a>
        {% endif %}
    </div>
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="">
    </div>
    <div class="post-actions">
        <div class="likes">
            <a class="likes-count" href="{% url 'likes' post.id %}">{{ post.likes_count }}</a>
            <form method="post" action="{% url 'like' post.id %}">
                {% csrf_token %}
                {% if post.id in liked %}
                    <button class="unlike" type="submit"><img src="{% static 'images/filled_heart.png' %}" alt="like button"></button>
                {% else %}
                    <button class="like" type="submit"><img src="{% static 'images/empty_heart.png' %}" alt="like button"></button>
                {% endif %} 
            </form>
        </div>
        <a href="{% url 'post_detail' post.id %}" class="comment-link">
            <img src="{% static 'images/comment_icon.webp' %}" alt="comment">
        </a>
    </div>
    {% if post.description %}
        <div class="description">  
            {{ post.description }}
        </div>
    {% endif %}
</div>