{% load static %}
<div class="post">
    <div class="post-header">
        <a href="{% url 'user_detail' post.user.id %}" class="user_link">
        <div class="profile-picture">
            <img src="{{ post.user.profile_picture.url }}" alt="{{ post.user.username }}">
        </div>
        <div class="username">
            {{ post.user.username }}
        </div>
        </a>
        {% if request.user == post.user %}
        <a href="{% url 'update_post' post.id %}" class="update_post_link">edit</a>
        <a href="{% url 'delete_post' post.id %}" class="delete_post_link">delete</a>
        {% endif %}
    </div>
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="">
    </div>
    <div class="post-content">
        <div class="likes">
            <span class="likes-count">{{ post.likes }}</span>
            <form method="post" action="{% url 'like_post' post.id %}">
                {% csrf_token %}
                <button type="submit"><img src="{% static 'images/empty_heart.png' %}" alt="like button"></button>
            </form>
        </div>
        {% if post.description %}
        <div class="description">  
            {{ post.description }}
        </div>{% endif %}
    </div>
</div>